<section data-ng-controller="ContactsController">
    <h1>Contacts</h2>
    <div id="smartSearch">
        <input type="search" id="searchBox" placeholder='Who?' autocomplete="off" ng-model="search"/>
        <ul id="searchResults" ng-show="search.length && (contacts | regex:'name':' +'+search+'|^'+search).length">
            <li ng-repeat="contact in contacts | regex:'name':' +'+search+'|^'+search | orderBy:'name' | limitTo:6">
                <a href="#!/contacts/{{contact.id}}/view">{{contact.name}}</a>\
            </li>
        </ul>
        <p ng-show="(search.length>2) && !(contacts | regex:'name':' +'+search+'|^'+search).length">
            A contact named <strong>{{search}}</strong> is not found.
        </p>

        <div class="loader"
             ng-show="(search.length<3) && !(contacts | regex:'name':' +'+search+'|^'+search).length"></div>
        <div class="clearfix"></div>
    </div>

    <hr/>

    <h3><a href="#!/contacts/create">Add new contact</a></h3>
    <div id="contactsList" class="listContainer">
        <dl ng-repeat="contactList in contactLists">
            <dt>{{contactList.name}}</dt>
            <dd ng-repeat="contact in contactList.contacts">
                <a class="cnt" href="#!/contacts/{{contact.id}}/view">{{contact.name}}</a>
            </dd>
        </dl>
    </div>
</section>