<section data-ng-controller="ContactsController" data-ng-init="findOne()">
	<div class="col1">
	    <h2>{{contact.name}}</h2>
	    <img src="img/contacts/profile_image.png" alt="">
	</div>
	<div class="col2">
	    <p class="email" ng-show="contact.email">{{contact.email}}</p>

	    <p class="phone" ng-show="contact.phone">{{contact.phone}}</p>
	</div>
	<hr/>
	<hr/>
	<a class="btn btn-left back" href="#!/contacts">Go Back</a>
	<a class="btn " href="#!/contacts/{{contact.id}}/edit">Edit</a>
</section>